template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.blue-grey: .nav-wrapper
		ul.left
			li: a(href='/') Home
		a.brand-logo.center Bappeda
		ul.right
			unless currentUser
				li: a(href='/login') Login
			if currentUser
				li: a(href='/logout') Logout

template(name='home'): .container
	h4 Beranda

template(name='kel'): .container
	h4 Data Kelurahan
	with pageTitle
		h5 Kab: {{kab}} / Kec: {{kel}} / Kel: {{kel}}
	+selectElemen
	if editData
		h5 Update Indikator
		+quickForm(
			collection= coll.elemens
			type = 'update'
			id = 'updateKel'
			doc= editData
		)
		.right.orange.btn#close Tutup
	.btn.right#showGraph Grafik
	.btn.right#showMap Peta
	.row
	if showGraph
		+grafik
	if showMap
		+map
	unless editData
		table
			thead
				tr
					th Indikator
					th Defenisi
					th Nilai
					th Satuan
					th Setuju
					th Beda
					th Justifikasi
			tbody
				each datas
					tr#row
						td= indikator
						td= defenisi
						td= nilai
						td= satuan
						td= setuju
						td= beda
						td= justifikasi
		unless datas
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
	.btn#showContoh Contoh Elemen
	.btn#emptyElemen Kosongkan Elemen
	if showContoh
		+contohElemen
	.row


template(name='selectElemen')
	.row
		.input-field.col.m8
			select
				option(value='') Pilih Elemen Data
				each val in elemensName
					option= val
		.input-field.col.m4
			input#search(placeholder='Cari')

template(name='login'): .container
	h4.center Login Pengguna
	form#login
		.row
			.input-field.col.m6
				input.validate#username(type='text')
				label(for='username') Username
			.input-field.col.m6
				input.validate#password(type='password')
				label(for='password') Password
		.row
			.input.field.center
				input.btn(type='submit' value='Login')

template(name='contohElemen')
	each val in elemensName
		a.btn-flat(href='/csv/{{val}}.csv')= val

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='kec'): .container
	h4 Data Kecamatan
	with pageTitle
		h5 Kab: {{kab}} / Kec: {{kec}}
	+selectElemen
	.btn.right#showGraph Grafik
	.btn.right#showMap Peta
	.row
	if showGraph
		+grafik
	if showMap
		+map
	table
		thead
			tr
				th Indikator
				th Defenisi
				th Nilai
				th Beda
				th Setuju
				th Justifikasi
		tbody
			each datas
				tr
					td= indikator
					td= defenisi
					td= nilai
					td= beda
					td= setuju
					td= justifikasi

template(name='sekolahs')
	unless formMode
		#map
	.container
		unless formMode
			.row
				h5.center Statistik Sekolah
				.col.m3
					.card.red
						.card-content.white-text
							.row
								.col.m9
									.card-title Jumlah Sekolah
									span 1500 unit
								.col.m3
									i.material-icons.medium.center account_balance
				.col.m3
					.card.blue
						.card-content.white-text
							.row
								.col.m9
									.card-title Rata-rata Siswa
									span 430 orang
								.col.m3
									i.material-icons.medium.center face
				.col.m3
					.card.green
						.card-content.white-text
							.row
								.col.m9
									.card-title Koordinat
									span 800 sekolah
								.col.m3
									i.material-icons.medium.center place
				.col.m3
					.card.orange
						.card-content.white-text
							.row
								.col.m9
									.card-title Kondisi
									span SD 400, SMP 200, SMA 150
								.col.m3
									i.material-icons.medium.center thumbs_up_down
			.row
				.col.m8
					input#search(placeholder='Cari Nama, Alamat, atau Kel/Des')
				.col.m4
					.right.btn#showAdd + Sekolah
			.row: +pagination
		if showAdd
			h5 Tambahkan Sekolah
			+quickForm(
				collection= coll.sekolahs
				type = 'insert'
				id = 'insertSekolahs'
			)
			.row
			.right.orange.btn#close Tutup Tambah
			.row
		if editData
			h5 Edit Sekolah
			+quickForm(
				collection= coll.sekolahs
				type = 'update'
				id = 'updateSekolah'
				doc= editData
			)
			+mapSelect
			.row
			.right.orange.btn#close Tutup Edit
			.row
		unless formMode
			table.bordered.striped
				thead
					tr
						th Nama
						th Status
						th Bentuk
						th Alamat
						th Kel/Des
						th Siswa
						th Lat
						th Lng
				tbody
					each datas
						tr#row
							td= nama
							td= status
							td= bentuk
							td= alamat
							td= keldes
							td= siswa
							td= latlng.lat
							td= latlng.lng
			.btn#empty Kosongkan
			.btn#geocode Geocode
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')

template(name='mapSelect')
	#mapSelect

template(name='pagination')
	ul.pagination
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins
			li: a.num(href='#' id='{{val}}')= val
		li: a(href='#'): i.material-icons#next chevron_right
