template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		if currentUser
			ul.left: li: a(href='/'): i.material-icons home
		a.brand-logo.center.hide-on-small-only Sistem Informasi Database Pembangunan Daerah
		a.brand-logo.center.hide-on-med-and-up Si Idaman Dara
		ul.right
			unless currentUser
				li: a(href='/login'): i.material-icons exit_to_app
			if currentUser
				li: a(href='/logout'): i.material-icons close
	if currentUser
		if currentRoute
			ul.fixed.side-nav.grey.lighten-2.z-depth-5
				li.grey.darken-2: a.center(href='/'): b.white-text: i.material-icons.small#topLeft home
				if routeIn kabs
					each val in kabs
						li: a(href= val)= startCase(val)
				if routeIs 'riau'
					each val in elemens
						li: a(href='riau')= startCase(val)
				if routeIn indsname
					each val in inds
						li: a(href= val.name)= startCase(val.full)
				if routeIn fasilitas
					each val in fasilitas
						li: a(href= val)= startCase(val)
					li: a(href='jalan') Pekerjaan Umum
				if routeIs 'jalan'
					li: a(href='/') Kembali

template(name='home')
	.parallax-container: .parallax: img(src='/imgs/front.jpg')
	.section.white.z-depth-2: .row
		.slider: ul.slides
			li
				img(src='http://3.bp.blogspot.com/-fQ0LMSSY3kM/TXURMQuq02I/AAAAAAAAAEc/6p16-2cjY7o/s1600/a.jpg')
				.caption.center-align
					h3 Selamat Datang
					h5.light.grey-text.text-lighten-3 Pada halaman ini Anda dapat membuka menu Indikator, Kabupaten, dan Urusan
			li
				img(src='https://4.bp.blogspot.com/-BwZm6h0Kpss/VzBPAA-kJVI/AAAAAAAACm0/aBFNVQNY7jUR58iyQYhG6aVVWNamVXCfACLcB/w1200-h630-p-k-no-nu/motif%2Bornament%2Bmelayu.jpg')
				.caption.center-align
					h3 Panduan Guna
					h5.light.grey-text.text-lighten-3 Panduan penggunaan bagi umum dapat dibaca pada tautan berikut
					h5.light.grey-text.text-lighten-3 Panduan penggunaan bagi admin dapat dibaca pada tautan berikut
		each val in blocks
			.col.m4: .card.z-depth-1.lighten-1(class='{{val.color}}'): .card-content
				.center: a(href= val.link): i.large.material-icons.white-text= val.icon
				.card-title.center: a.white-text(href= val.link): h4= val.name
	.parallax-container: .parallax: img(src='/imgs/front.jpg')
			

template(name='login')
	.fullscreen.slider: ul.slides: li
		img(src='/imgs/login.png')
		.caption.center-align
			br
			br
			br
			h3 Login Admin
			h5.light.grey-text.text-lighten-3 Silahkan masukkan username dan password
			.card.grey.lighten-3: .card-content
				form#login
					.row
						.col.m6
							.input-field
								input.validate#username(type='text')
								label(for='username') Username
						.col.m6
							.input-field
								input.validate#password(type='password')
								label(for='password') Password
					.row
						.input.field.center
							input.btn(type='submit' value='Login')

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='fasilitas')
	unless formMode
		#map
	.container
		unless formMode
			.row
				h5.center Statistik Fasilitas
				each stats
					.col.m4: .card(class='{{color}}'): .card-content.white-text: .row
						.col.m9
							.card-title= title
							span {{{content}}}
						.col.m3: i.material-icons.medium.center= icon
			.row
				.col.m8
					input#search(placeholder='Cari Nama, Alamat, atau Kel/Des, dan tekan Enter')
				.col.m4
					.right.btn#switch(param='add') + Fasilitas
			.row: +pagination
		if switch 'add'
			h5 Tambahkan Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'insert'
				id = 'insertfasilitas'
			)
			.row
			.right.orange.btn#close Tutup Tambah
			.row
		if editData
			h5 Edit Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'update'
				id = 'updateFasilitas'
				doc= editData
			)
			+mapSelect
			.row
			.right.orange.btn#close Tutup Edit
			.row
		unless formMode
			table.bordered.striped
				thead
					tr
						each val in colHeadings currentRoute
							th= val
				tbody
					each datas
						tr#row
							td= nama
							td= alamat
							td= bentuk
							td= kataKondisi(kondisi)
							td= data1
							td= data2
							td= data3
							td= data4
							td= data5
			.btn#empty(param='fasilitas') Kosongkan
			.btn#geocode Geocode
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')

template(name='mapSelect')
	#mapSelect

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins
			li: a.num(href='#' id='{{val}}')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='jalan')
	#map
	.container
		h5 Tabel Jalan
		table.bordered.responsive-table
			thead
				tr
					th Status
					th No
					th Tanggal
					th No. Ruas
					th Nama Ruas
					th Pjg Survey
					th Kecamatan
					th Kelas Jalan
					th Length
			tbody
				each jalan
					tr
						td= status
						td= no
						td= tanggal
						td= no_ruas
						td= nama_ruas
						td= pjg_survey
						td= kecamatan
						td= kelas_jala
						td= length
		unless jalan
			.file-field.input-field
				.btn.left
					span Impor Data
						input#upload(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
		.btn#empty(param='jalan') Kosongkan Tabel

template(name='ind')
	.container
		h5= title
		if switch 'add'
			+quickForm(
				collection= coll.ind
				type = 'insert'
				id = 'insertind'
			)
		if formMode
			.right.orange.btn#close Tutup
		if switch 'rowGraph'
			+grafik
		br
		br
	#nocontainer: table.bordered.striped.scroll
		thead: tr
			each val in list
				th.blue-grey.lighten-3= startCase(val)
			each val in years
				td.grey.lighten-2
					tr: th.center(colspan='2')= val
					tr
						th Targ
						th Real
		tbody
			each datas
				tr#rowGraph
					if routeIs 'isd'
						td: tr: td= fokus
						td: tr: td= indikator
					if routeIs 'ikd'
						td: tr: td= aspek
						td: tr: td= fokus
						td: tr: td= bidang
						td: tr: td= indikator
						td: tr: td= sub
					if routeIn kabs
						td: tr: td= indikator
						td: tr: td= sub
					if routeIs 'makro'
						td: tr: td= indikator
						td: tr: td= sub

					with y2013
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2014
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2015
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2016
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2017
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2018
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a
					with y2019
						td: tr
							td.cyan.lighten-4
								if tar
									span= tar
								else
									span n/a
							td.orange.lighten-4
								if rel
									span= rel
								else
									span n/a

	.container: .file-field.input-field
		.btn.left
			span Impor Data
				input(type='file' name='uploadCSV')
		.file-path-wrapper
			input.file-path.wrapper(type='text')
	.container: .btn#empty(param='ind') Kosongkan

template(name='tem'): .container
	h5 Tematik
	#map
	table
			tr
				td Kab
				td Grup
				td Item
				td#col 2010
				td#col 2011
				td#col 2012
				td#col 2013
				td#col 2014
				td#col 2015
				td#col 2016
			each datas
				tr
					td= kab
					td= grup
					td= item
					td(class= col2010)= y2010
					td(class= col2011)= y2011
					td(class= col2012)= y2012
					td(class= col2013)= y2013
					td(class= col2014)= y2014
					td(class= col2015)= y2015
					td(class= col2016)= y2016
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='uploadCSV')
		.file-path-wrapper
			input.file-path.wrapper(type='text')
