template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.blue-grey: .nav-wrapper
		ul.left
			li: a(href='/') Home
			li: a#mapColor(href='#') MapColor
		a.brand-logo.center Bappeda
		ul.right
			unless currentUser
				li: a(href='/login') Login
			if currentUser
				li: a(href='/logout') Logout

template(name='home'): .container
	h4 Beranda
	.row
		each cards
			.col.m4
				.card
					.card-image
						img.activator(src='{{image}}')
					.card-content
						span.card-title.activator
							{{title}}
							i.material-icons.right= icon
					.card-reveal
						span.card-title
							{{title}}
							i.material-icons.right close
						p= desc
						a.btn(href='/{{route}}') Masuk

template(name='wil'): .container
	h4 Data Wilayah
	with pageTitle
		h5
			if kab
				span: a(href='/{{kab}}'): Kab: {{kab}}
			if kec
				span: a(href='/{{kab}}_{{kec}}'): / Kec: {{kec}}
			if kel
				span: a(href='/{{kab}}_{{kec}}_{{kel}}'): / Kel: {{kel}}
	+selectElemen
	if editData
		h5 Update Indikator
		+quickForm(
			collection= coll.elemens
			type = 'update'
			id = 'updateKel'
			doc= editData
		)
		.right.orange.btn#close Tutup
	.btn.right#showGraph Grafik
	.btn.right#showMap Peta
	.row
	if showGraph
		+grafik
	if showMap
		+map
	unless editData
		table
			thead
				tr
					th Indikator
					th Defenisi
					th Nilai
					th Satuan
					th Setuju
					th Beda
					th Justifikasi
			tbody
				each datas
					tr#row
						td= indikator
						td= defenisi
						td= nilai
						td= satuan
						td= setuju
						td= beda
						td= justifikasi
		unless datas
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
	.btn#showContoh Contoh Elemen
	.btn#emptyElemen Kosongkan Elemen
	if showContoh
		+contohElemen
	.row


template(name='selectElemen')
	.row
		.input-field.col.m8
			select
				option(value='') -- Pilih Elemen Data --
				each val in elemensName
					option= val
		.input-field.col.m4
			input#search(placeholder='Cari')

template(name='login'): .container
	h4.center Login Pengguna
	form#login
		.row
			.input-field.col.m6
				input.validate#username(type='text')
				label(for='username') Username
			.input-field.col.m6
				input.validate#password(type='password')
				label(for='password') Password
		.row
			.input.field.center
				input.btn(type='submit' value='Login')

template(name='contohElemen')
	each val in elemensName
		a.btn-flat(href='/csv/{{val}}.csv')= val

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='sekolahs')
	unless formMode
		#map
	.container
		unless formMode
			.row
				h5.center Statistik Sekolah
				each stats
					.col.m3: .card(class='{{color}}'): .card-content.white-text: .row
						.col.m9
							.card-title= title
							span= content
						.col.m3: i.material-icons.medium.center= icon
			.row
				.col.m8
					input#search(placeholder='Cari Nama, Alamat, atau Kel/Des, dan tekan Enter')
				.col.m4
					.right.btn#showAdd + Sekolah
			.row: +pagination
		if showAdd
			h5 Tambahkan Sekolah
			+quickForm(
				collection= coll.sekolahs
				type = 'insert'
				id = 'insertSekolahs'
			)
			.row
			.right.orange.btn#close Tutup Tambah
			.row
		if editData
			h5 Edit Sekolah
			+quickForm(
				collection= coll.sekolahs
				type = 'update'
				id = 'updateSekolah'
				doc= editData
			)
			+mapSelect
			.row
			.right.orange.btn#close Tutup Edit
			.row
		unless formMode
			table.bordered.striped
				thead
					tr
						th Nama
						th Status
						th Bentuk
						th Alamat
						th Kel/Des
						th Siswa
						th Lat
						th Lng
				tbody
					each datas
						tr#row
							td= nama
							td= status
							td= bentuk
							td= alamat
							td= keldes
							td= siswa
							td= latlng.lat
							td= latlng.lng
			.btn#empty Kosongkan
			.btn#geocode Geocode
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')

template(name='mapSelect')
	#mapSelect

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins
			li: a.num(href='#' id='{{val}}')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='jalan')
	#map
	.container
		h5 Tabel Jalan Prov
		span: .btn#openJalProv Buka
		table.responsive-table.hide#tableJalProv
			thead
				tr
					th No Ruas
					th Nama Ruas
					th Kab/Kota
					th Kecamatan
					th TP Awal
					th TP Akhir
					th Pjg Survey
					th Sts Jalan
					th No
					th AADT
					th Lebar
					th SType
					th IRI
					th SDI
					th EIRR
					th 2016 LP
					th 2016 Cost
					th 2016 EL
					th 2017 LP
					th 2017 Cost
					th 2017 EL
			tbody
				each jalProv
					tr
						td= no_ruas
						td= nama_ruas
						td= kab_kota
						td= kec
						td= tp_awal
						td= tp_akhir
						td= pjg_survey
						td= sts_jalan
						td= no
						td= aadt
						td= lebar
						td= stype
						td= iri
						td= sdi
						td= eirr
						td= y2016.lp
						td= y2016.cost
						td= y2016.el
						td= y2017.lp
						td= y2017.cost
						td= y2017.el
		unless jalProv
			.file-field.input-field
				.btn.left
					span Impor Data
						input#jalProvUpload(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
			.btn#emptyJalProv Kosongkan Provinsi

		h5 Tabel Jalan Nas
		span: .btn#openJalNas Buka
		table.responsive-table.hide#tableJalNas
			thead
				tr
					th Status
					th No
					th Tanggal
					th No. Ruas
					th Nama Ruas
					th Pjg Survey
					th Kecamatan
					th Kelas Jalan
					th Length
			tbody
				each jalNas
					tr
						td= status
						td= no
						td= tanggal
						td= no_ruas
						td= nama_ruas
						td= pjg_survey
						td= kecamatan
						td= kelas_jala
						td= length
		unless jalNas
			.file-field.input-field
				.btn.left
					span Impor Data
						input#jalNasUpload(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
			.btn#emptyJalNas Kosongkan Provinsi
