template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.green: .nav-wrapper
		ul.left: li: a(href='/'): i.material-icons home
		a.brand-logo.center.hide-on-small-only Sistem Informasi Database Pembangunan Daerah
		a.brand-logo.center.hide-on-med-and-up Si Idaman Dara
		ul.right
			unless currentUser
				li: a(href='/login'): i.material-icons exit_to_app
			if currentUser
				li: a(href='/logout'): i.material-icons close
	if currentUser
		if currentRoute
			ul.fixed.side-nav.grey.lighten-2.z-depth-5
				li.grey.darken-2: a.center(href='/'): b.white-text: i.material-icons.small#topLeft home
				if routeIn kabs
					each val in kabs
						li: a(href= val)= startCase(val)
				if routeIs 'riau'
					each val in elemens
						li: a(href='riau')= startCase(val)
				if routeIn indsname
					each val in inds
						li: a(href= val.name)= startCase(val.full)
				if routeIn fasilitas
					each val in fasilitas
						li: a(href= val)= startCase(val)

template(name='home')
	.parallax-container: .parallax: img(src='/imgs/front.jpg')
	.section.white.z-depth-2: .row
		.slider: ul.slides
			li
				img(src='https://lorempixel.com/580/250/nature/1')
				.caption.center-align
					h3 Slide pertama
					h5.light.grey-text.text-lighten-3 Ini adalah contoh paragraf untuk keterangan pada slide 1
			li
				img(src='https://lorempixel.com/580/250/nature/2')
				.caption.center-align
					h3 Slide kedua
					h5.light.grey-text.text-lighten-3 Ini adalah contoh paragraf untuk keterangan pada slide 2
		each val in blocks
			.col.m4: .card.z-depth-1.lighten-1(class='{{val.color}}'): .card-content
				.center: a(href= val.link): i.large.material-icons.white-text= val.icon
				.card-title.center: a.white-text(href= val.link): h4= val.name
	.parallax-container: .parallax: img(src='/imgs/front.jpg')
			

template(name='login')
	.fullscreen.slider#bground: ul.slides: li
		img(src='/imgs/login.png')
		.caption.center-align
			br
			br
			br
			h3 Login Admin
			h5.light.grey-text.text-lighten-3 Silahkan masukkan username dan password
			.card.grey.lighten-3: .card-content
				form#login
					.row
						.col.m6
							.input-field
								input.validate#username(type='text')
								label(for='username') Username
						.col.m6
							.input-field
								input.validate#password(type='password')
								label(for='password') Password
					.row
						.input.field.center
							input.btn(type='submit' value='Login')

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='fasilitas')
	unless formMode
		#map
	.container
		unless formMode
			.row
				h5.center Statistik Fasilitas
				each stats
					.col.m4: .card(class='{{color}}'): .card-content.white-text: .row
						.col.m9
							.card-title= title
							span {{{content}}}
						.col.m3: i.material-icons.medium.center= icon
			.row
				.col.m8
					input#search(placeholder='Cari Nama, Alamat, atau Kel/Des, dan tekan Enter')
				.col.m4
					.right.btn#switch(param='add') + Fasilitas
			.row: +pagination
		if switch 'add'
			h5 Tambahkan Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'insert'
				id = 'insertfasilitas'
			)
			.row
			.right.orange.btn#close Tutup Tambah
			.row
		if editData
			h5 Edit Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'update'
				id = 'updateFasilitas'
				doc= editData
			)
			+mapSelect
			.row
			.right.orange.btn#close Tutup Edit
			.row
		unless formMode
			table.bordered.striped
				thead
					tr
						each val in colHeadings currentRoute
							th= val
				tbody
					each datas
						tr#row
							td= nama
							td= alamat
							td= bentuk
							td= kataKondisi(kondisi)
							td= data1
							td= data2
							td= data3
							td= data4
							td= data5
			.btn#empty(param='fasilitas') Kosongkan
			.btn#geocode Geocode
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')

template(name='mapSelect')
	#mapSelect

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins
			li: a.num(href='#' id='{{val}}')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='jalan')
	#map
	.container
		h5 Tabel Jalan
		table.bordered.responsive-table
			thead
				tr
					th Status
					th No
					th Tanggal
					th No. Ruas
					th Nama Ruas
					th Pjg Survey
					th Kecamatan
					th Kelas Jalan
					th Length
			tbody
				each jalan
					tr
						td= status
						td= no
						td= tanggal
						td= no_ruas
						td= nama_ruas
						td= pjg_survey
						td= kecamatan
						td= kelas_jala
						td= length
		unless jalan
			.file-field.input-field
				.btn.left
					span Impor Data
						input#upload(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
		.btn#empty(param='jalan') Kosongkan Tabel

template(name='ind')
	.container
		h5= title
		.right.btn#switch(param='add') Tambah
		if switch 'add'
			+quickForm(
				collection= coll.ind
				type = 'insert'
				id = 'insertind'
			)
		if formMode
			.right.orange.btn#close Tutup
		if switch 'rowGraph'
			+grafik
		br
		br
	#nocontainer: table.bordered.scroll
		thead
			tr
				td
					tr
						each val in list
							th= startCase(val)
				td
					tr
						each val in years
							th.center.grey.lighten-2(colspan='2')= val
					tr
						each val in years
							th Targ
							th Real
		tbody
			each datas
				tr#rowGraph
					td
						tr
							if routeIs 'isd'
								td= fokus
								td= indikator
							if routeIs 'ikd'
								td= aspek
								td= fokus
								td= bidang
								td= indikator
								td= sub
							if routeIn kabs
								td= indikator
								td= sub
							if routeIs 'makro'
								td= indikator
								td= sub
					td
						tr
							td.cyan.lighten-4
								if y2013.tar
									span= y2013.tar
								else
									span n/a
							td.orange.lighten-4
								if y2013.rel
									span= y2013.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2014.tar
									span= y2014.tar
								else
									span n/a
							td.orange.lighten-4
								if y2014.rel
									span= y2014.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2015.tar
									span= y2015.tar
								else
									span n/a
							td.orange.lighten-4
								if y2015.rel
									span= y2015.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2016.tar
									span= y2016.tar
								else
									span n/a
							td.orange.lighten-4
								if y2016.rel
									span= y2016.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2017.tar
									span= y2017.tar
								else
									span n/a
							td.orange.lighten-4
								if y2017.rel
									span= y2017.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2018.tar
									span= y2018.tar
								else
									span n/a
							td.orange.lighten-4
								if y2018.rel
									span= y2018.rel
								else
									span n/a
							td.cyan.lighten-4
								if y2019.tar
									span= y2019.tar
								else
									span n/a
							td.orange.lighten-4
								if y2019.rel
									span= y2019.rel
								else
									span n/a

	.container: .file-field.input-field
		.btn.left
			span Impor Data
				input(type='file' name='uploadCSV')
		.file-path-wrapper
			input.file-path.wrapper(type='text')
	.container: .btn#empty(param='ind') Kosongkan
