template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.blue-grey: .nav-wrapper
		ul.left
			li: a(href='/') Home
		a.brand-logo.center Bappeda
		ul.right
			unless currentUser
				li: a(href='/login') Login
			if currentUser
				li: a(href='/logout') Logout

template(name='home'): .container
	h4 Beranda

template(name='kel'): .container
	h4 Data Kelurahan
	+selectElemen
	if editData
		h5 Update Indikator
		+quickForm(
			collection= theColl
			type = 'update'
			id = 'updateKel'
			doc= editData
		)
		.right.orange.btn#close Tutup
	.btn.right#showGraph Grafik
	.btn.right#showMap Peta
	.row
	if showGraph
		+grafik
	if showMap
		+map
	unless editData
		table
			thead
				tr
					th Indikator
					th Defenisi
					th Nilai
					th Satuan
					th Setuju
					th Beda
					th Justifikasi
			tbody
				each datas
					tr#row
						td= indikator
						td= defenisi
						td= nilai
						td= satuan
						td= setuju
						td= beda
						td= justifikasi
		unless datas
			+importer
	.btn#showContoh Contoh Elemen
	.btn#emptyElemen Kosongkan Elemen
	if showContoh
		+contohElemen
	.row

template(name='importer')
	.file-field.input-field
		.btn.left
			span Impor Data
			input(type='file' name='uploadCSV')
		.file-path-wrapper
			input.file-path.wrapper(type='text')

template(name='selectElemen')
	.row
		.input-field.col.m8
			select
				option(value='') Pilih Elemen Data
				each val in elemensName
					option= val
		.input-field.col.m4
			input#search(placeholder='Cari')

template(name='login'): .container
	h4.center Login Pengguna
	form#login
		.row
			.input-field.col.m6
				input.validate#username(type='text')
				label(for='username') Username
			.input-field.col.m6
				input.validate#password(type='password')
				label(for='password') Password
		.row
			.input.field.center
				input.btn(type='submit' value='Login')

template(name='contohElemen')
	each val in elemensName
		a.btn-flat(href='/csv/{{val}}.csv')= val

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='kec'): .container
	h4 Data Kecamatan
	.btn.right#showGraph Grafik
	.btn.right#showMap Peta
	.row
	if showGraph
		+grafik
	if showMap
		+map
	table
		thead
			tr
				th Indikator
				th Defenisi
				th Nilai
				th Beda
				th Setuju
				th Justifikasi
		tbody
			each datas
				tr
					td= indikator
					td= defenisi
					td= nilai
					td= beda
					td= setuju
					td= justifikasi
