template(name='layout')
	+menu
	+yield

template(name='menu')
	.navbar-fixed: nav.blue-grey: .nav-wrapper
		ul.left
			li: a(href='/') Home
		a.brand-logo.center SiIdamanDara
		ul.right
			unless currentUser
				li: a(href='/login') Login
			if currentUser
				li: a(href='/logout') Logout

template(name='home'): .container
	h4 Beranda
	.row
		each cards
			.col.m4
				.card
					.card-image
						img.activator(src='{{image}}')
					.card-content
						span.card-title.activator
							{{title}}
							i.material-icons.right= icon
					.card-reveal
						span.card-title
							{{title}}
							i.material-icons.right close
						p= desc
						a.btn(href='/{{route}}') Masuk

template(name='wil'): .container
	h4 Database Peta Elemen
	with wilName
		h5
			span: a(href='/riau') Prov: Riau
			if kab
				span: a(href='/{{kab}}') / Kab: {{startCase kab}}
			if kec
				span: a(href='/{{kab}}_{{kec}}') / Kec: {{startCase kec}}
			if kel
				span: a(href='/{{kab}}_{{kec}}_{{kel}}') / Kel: {{startCase kel}}
	+selectElemen
	if editData
		h5 Update Indikator
		+quickForm(
			collection= coll.elemens
			type = 'update'
			id = 'updateKel'
			doc= editData
		)
		.right.orange.btn#close Tutup
	.btn.right#switch(param='graph') Grafik
	.btn.right#switch(param='map') Peta
	.row
	if switch 'graph'
		+grafik
	if switch 'map'
		+map
	unless editData
		table.bordered.striped
			thead
				tr
					th Indikator
					th Defenisi
					th Tar 2015
					th Rel 2015
					th Tar 2016
					th Rel 2016
					th Tar 2017
					th Rel 2017
					th Tar 2018
					th Rel 2018
					th Tar 2019
					th Rel 2019
			tbody
				each datas
					tr#row
						td= indikator
						td= defenisi
						td= y2015.tar
						td= round(y2015.rel)
						td= y2016.tar
						td= round(y2016.rel)
						td= y2017.tar
						td= round(y2017.rel)
						td= y2018.tar
						td= round(y2018.rel)
						td= y2019.tar
						td= round(y2019.rel)
		unless datas
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
	.btn#switch(param= 'contoh') Contoh Elemen
	.btn#empty(param='elemens') Kosongkan Elemen
	if switch 'contoh'
		+contohElemen
	.row


template(name='selectElemen')
	.row
		.input-field.col.m6
			select#elemen
				option(value='') -- Pilih Elemen Data --
				each val in elemensName
					option= val
		.input-field.col.m3
			select#year
				option(value='') -- Pilih Tahun --
				each val in years
					option= val
		.input-field.col.m3
			input#search(placeholder='Cari')


template(name='login'): .container
	h4.center Login Pengguna
	form#login
		.row
			.input-field.col.m6
				input.validate#username(type='text')
				label(for='username') Username
			.input-field.col.m6
				input.validate#password(type='password')
				label(for='password') Password
		.row
			.input.field.center
				input.btn(type='submit' value='Login')

template(name='contohElemen')
	each val in elemensName
		a.btn-flat(href='/csv/{{val}}.csv')= val

template(name='loading'): .container
	.progress.center: .indeterminate

template(name='grafik')
	+c3(data= grafik id = 'grafik')

template(name='map')
	#map

template(name='fasilitas')
	unless formMode
		#map
	.container
		unless formMode
			.row
				h5.center Statistik Fasilitas
				each stats
					.col.m4: .card(class='{{color}}'): .card-content.white-text: .row
						.col.m9
							.card-title= title
							span {{{content}}}
						.col.m3: i.material-icons.medium.center= icon
			.row
				.col.m8
					input#search(placeholder='Cari Nama, Alamat, atau Kel/Des, dan tekan Enter')
				.col.m4
					.right.btn#switch(param='add') + Fasilitas
			.row: +pagination
		if switch 'add'
			h5 Tambahkan Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'insert'
				id = 'insertfasilitas'
			)
			.row
			.right.orange.btn#close Tutup Tambah
			.row
		if editData
			h5 Edit Fasilitas
			+quickForm(
				collection= coll.fasilitas
				type = 'update'
				id = 'updateFasilitas'
				doc= editData
			)
			+mapSelect
			.row
			.right.orange.btn#close Tutup Edit
			.row
		unless formMode
			table.bordered.striped
				thead
					tr
						each val in colHeadings currentRoute
							th= val
				tbody
					each datas
						tr#row
							td= nama
							td= alamat
							td= bentuk
							td= kataKondisi(kondisi)
							td= data1
							td= data2
							td= data3
							td= data4
							td= data5
			.btn#empty(param='fasilitas') Kosongkan
			.btn#geocode Geocode
			.file-field.input-field
				.btn.left
					span Impor Data
					input(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')

template(name='mapSelect')
	#mapSelect

template(name='pagination')
	ul.pagination.center
		li: a(href='#'): i.material-icons#prev chevron_left
		each val in pagins
			li: a.num(href='#' id='{{val}}')= val
		li: a(href='#'): i.material-icons#next chevron_right

template(name='jalan')
	#map
	.container
		h5 Tabel Jalan
		span: .btn#openJal Buka
		table.responsive-table.hide#tableJal
			thead
				tr
					th Status
					th No
					th Tanggal
					th No. Ruas
					th Nama Ruas
					th Pjg Survey
					th Kecamatan
					th Kelas Jalan
					th Length
			tbody
				each jalan
					tr
						td= status
						td= no
						td= tanggal
						td= no_ruas
						td= nama_ruas
						td= pjg_survey
						td= kecamatan
						td= kelas_jala
						td= length
		unless jalan
			.file-field.input-field
				.btn.left
					span Impor Data
						input#jalanUpload(type='file' name='uploadCSV')
				.file-path-wrapper
					input.file-path.wrapper(type='text')
			.btn#empty(param='jalan') Kosongkan Tabel

template(name='ind'): .container
	h5= title
	.right.btn#showAdd Tambah
	if showAdd
		+quickForm(
			collection= coll.ind
			type = 'insert'
			id = 'insertind'
		)
	if formMode
		.right.orange.btn#close Tutup
	+grafik
	table.bordered.striped
		thead
			tr
				th Sasaran
				th Indikator
				th 2013 Rel
				th 2014 Tar
				th 2014 Rel
				th 2015 Tar
				th 2015 Rel
				th 2016 Tar
				th 2016 Rel
				th 2017 Tar
				th 2018 Tar
				th 2019 Tar
		tbody
			each datas
				tr
					td= sasaran
					td= indikator
					td= y2013.rel
					td= y2014.tar
					td= y2014.rel
					td= y2015.tar
					td= y2015.rel
					td= y2016.tar
					td= y2016.rel
					td= y2017.tar
					td= y2018.tar
					td= y2019.tar

	.file-field.input-field
		.btn.left
			span Impor Data
				input(type='file' name='uploadCSV')
		.file-path-wrapper
			input.file-path.wrapper(type='text')
	.btn#empty(param='ind') Kosongkan
